<% if @account.premium == true %>
<div class="mb-4">
  <label class="block text-gray-700 text-sm font-bold mb-2">
    Private Project (Optional)
  </label>
  <div class="relative w-full">
    <select class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="private">
      <% values = {"No": false, "Yes": true} %>
      <% values.each do |key, value| %>
        <% if project.hidden == value %>
        <option value="<%= value %>" selected><%= key %></option>
        <% else %>
        <option value="<%= value %>"><%= key %></option>
        <% end %>
      <% end %>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700" style="bottom: 8px; right: 5px">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
  <p class="text-gray-600 text-sm lg:text-xs italic">Private projects don't appear on your portfolio home page. They are published, so you can share the direct link to anyone.
  </p>
</div>
<% end %>



<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<div class="mb-4">
  <label class="block text-gray-700 lg:text-sm font-bold mb-2">
    Project Description
  </label>
  <div id="editor"><%= project.description %></div>
  <input id="hiddenArea" name="description" value="" type="hidden" style="display: none;">
  <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Describe your project in full detail.</p>
</div>

<script>
  // Setup toolbar options
  var toolbarOptions = [
    [{ 'header': [1, 2, 3, false] }],
    ['bold', 'italic', 'underline'],        // toggled buttons

    // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],

    ['clean']                                         // remove formatting button
  ];

  // Initialize editor
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });

  // Update hidden field
  const hidden = document.querySelector('#hiddenArea');
  let quillVal = quill.container.firstChild.innerHTML;
  hidden.value = quillVal;

  quill.on('text-change', function() {
    let quillVal = quill.container.firstChild.innerHTML;
    hidden.value = quillVal;
  });
</script>

<style>
  #editor {
    height: 350px;
  }
</style>
