<section class="mt-12 mb-16">
  <div class="text-center">
    <div class="">
      <p class="text-6xl font-bold text-black">
        <%= @account.name %>
      </p>
    </div>
    <div class="mb-6 max-w-3xl m-auto">
      <p class="text-4xl w-2/3 lg:w-full mx-auto lg:text-2xl text-gray-600">
        <%= @account.summary %>
      </p>
    </div>
  </div>
</section>

<% if @projects.length > 0 %>
<section class="my-4">
  <div class="mb-8">
    <p class="text-3xl lg:text-2xl uppercase text-gray-600 font-semibold text-center tracking-wider">
      Projects
    </p>
  </div>
  <% @projects.each do |project| %>
    <a href="<%= @other_host ? "/#{project.slug}" : "/#{@account.slug}/#{project.slug}" %>">
      <%= erb :'portfolio/_project', locals: { project: project } %>
    </a>
  <% end %>
</section>
<% end %>

<% if @articles.length > 0 %>
<section class="mt-20 mb-16">
  <div class="mb-8">
    <p class="text-3xl lg:text-2xl uppercase text-gray-600 font-semibold text-center tracking-wider">
      Articles
    </p>
  </div>
  <% @articles.each do |article| %>
    <a href="<%= @other_host ? "/blog/#{article.slug}" : "/#{@account.slug}/blog/#{article.slug}" %>">
      <%= erb :'portfolio/_article', locals: { article: article } %>
    </a>
  <% end %>
</section>
<% end %>
