<% content_for :head do %>
  <title><%= @account.name %> - Portfolio</title>
<% end %>

<section class="mt-8 flex items-center justify-between">

  <div>
    <p class="text-red-500 font-semibold text-2xl lg:text-base">
      <a href="/<%= @account.slug %>">
        &larr; Back to the portfolio
      </a>
    </p>
  </div>

  <div class="">
    <% if (@project.source_code) and (!@project.source_code.empty?) %>
    <a href="<%= @project.source_code %>" target="_blank">
      <button class="bg-blue-500 hover:bg-blue-700 text-white text-2xl lg:text-base font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-flex items-center" type="button">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.7 9.3l4.8-4.8 1.4 1.42L2.84 10l4.07 4.07-1.41 1.42L0 10l.7-.7zm18.6 1.4l.7-.7-5.49-5.49-1.4 1.42L17.16 10l-4.07 4.07 1.41 1.42 4.78-4.78z"/></svg>
        <span>Source code</span>
      </button>
    </a>
    <% end %>
  </div>

</section>

<section class="mt-10">
  <%= erb :'portfolio/_project', locals: { project: @project } %>
</section>

<% if (@project.loom_code) and (!@project.loom_code.empty?) %>
<section class="rounded border border-gray-300 bg-white p-10 my-8 shadow-sm">
  <div class="flex items-center justify-center">
    <iframe width="640" height="390" src="https://www.loom.com/embed/<%= @project.loom_code %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

</section>
<% end %>

<section class="mb-4">
  <div class="text-3xl lg:text-base rounded border border-gray-300 bg-white px-10 py-2 shadow-sm">
    <p class="markdown-text text-black"><%= @project.description %></p>
  </div>
</section>

<script>
  const markdownText = Array.from(document.querySelectorAll('.markdown-text'));
  markdownText.forEach(text => text.innerHTML = marked(text.innerHTML))
</script>
